html,
body {
  width: 100%;
  overflow: hidden;
  height: 100%;
   background-image: url('@/assets/images/background.png'); 
}
#app{
  width: 100%;
  height: 100%;
}
.dash-layout {
  width: 100%;
  height: 100%;
  color: white
}
